@page "/"
@rendermode InteractiveServer
<PageTitle>Tennis Score</PageTitle>

<h1 role="status">Last score by: @LastPlayerToScore</h1>
<div class="scoreboard">
<p role="status">@PlayerOne.Name - @PlayerTwo.Name</p>
<p role="status">@Score(PlayerOne.Score, PlayerTwo.Score)</p>

</div>

<button class="btn btn-primary" disabled="@GameComplete" @onclick='() => PlayerOne.Score = IncreaseScore(PlayerOne)'>PlayerOne</button>
<button class="btn btn-primary" disabled="@GameComplete" @onclick='() => PlayerTwo.Score = IncreaseScore(PlayerTwo)'>PlayerTwo</button>
<button class="btn btn-primary"  @onclick="@Reset">Reset</button>

@code {
	public class Player
	{
		public string Name { get; set; }
		public int Score { get; set; }

		public Player(string name)
		{
			Name = name;
			Score = 0;
		}
	}

	private enum ScoreName { Love, Fifteen, Thirty, Forty };
	private bool GameComplete = false;

	private string LastPlayerToScore = "";

	private Player PlayerOne = new Player("Novak");
	private Player PlayerTwo = new Player("Carlos");

	private int IncreaseScore(Player player)
	{
		LastPlayerToScore = player.Name;
		player.Score += 1;
		return player.Score;
	}

	private string Score(int playerOneScore, int playerTwoScore)
	{

		bool eachPlayerHasScoreOfThree = playerOneScore >= 3 && playerTwoScore >= 3;
		bool playerHasFourPoints = playerOneScore >= 4 || playerTwoScore >= 4;
		int scoreDifference = Math.Abs(playerOneScore - playerTwoScore);

		if (playerOneScore == playerTwoScore && eachPlayerHasScoreOfThree)
		{
			return GetScoreName(playerOneScore) + " -  Deuce";
		}
		else if (scoreDifference == 1 && eachPlayerHasScoreOfThree)
		{
			return GetComparedScoreString(playerOneScore, playerTwoScore, "Advantage");		
		}
		else if (scoreDifference >= 2 && playerHasFourPoints)
		{
			GameComplete = true;
			return GetComparedScoreString(playerOneScore, playerTwoScore, "Game");
		}
		else
		{
			return GetScoreName(playerOneScore) + " - " + GetScoreName(playerTwoScore);
		}
	}

	private string GetComparedScoreString(int scoreOne, int scoreTwo, string text)
	{
		if (scoreOne > scoreTwo)
		{
			return text + " - " + GetScoreName(scoreTwo);
		}
		else
		{
			return GetScoreName(scoreOne) + " - " + text;
		}
	}

	private string GetScoreName(int score)
	{
		if (score <= 3)
		{
			return ((ScoreName)score).ToString();
		}
		else
		{
			return score.ToString();
		}
	}

	private void Reset()
	{
		GameComplete = false;
		LastPlayerToScore = "";
		PlayerOne.Score = 0;
		PlayerTwo.Score = 0;
	}
}
